/* .bookingRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#bookingForm fieldset{
    width: 65%;
    padding: 20px 15px; */
    /* border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#bookingForm legend{
    text-transform: uppercase;
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 8px;
}

.inputBox{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 5px 0 20px 0;
}

.inputBox span{
    margin-left: 12px;
    text-transform: uppercase;
}

.inputBox input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #471515;
    padding: 15px 10px;
    font-size: 14px;
}

/* Apply basic styling to the fieldset */
/* fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
} */

/* Style the bookingTable section */
/* .bookingTable {
    margin-bottom: 20px;
} */

/* Style spans and paragraphs inside bookingTable */
/* .bookingTable span {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.bookingTable p {
    margin: 0;
} */

/* Style the Overall Booking and Overall Adventure Booking sections */
/* .bookingTable > div {
    font-weight: bold;
    margin-bottom: 10px;
} */

/* Style the tables */
/* .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
} */

/* Style table headers */
/* .table th {
    background-color: #f4f4f4;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
} */

/* Style table cells */
/* .table td {
    border: 1px solid #ddd;
    padding: 12px;
} */

/* Style alternating rows */
/* .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
} */

/* Add some spacing between table cells */
/* .table th,
.table td {
    padding: 12px;
} */

/* Add a hover effect on table rows */
/* .table tbody tr:hover {
    background-color: #f0f0f0;
} */


/* Add this CSS for styling the error message */
/* .error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ff9999;
    border: 1px solid #ff6666;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.error-message.show {
    display: block;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.errmsg{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errbtn{
    padding: 10px 60px;
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    transition: transform 0.4s, top 0.4s;
} */

/* .openpopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
} */

/* .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    background: #35a50b;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
} */


@media (max-width: 1280px){

    .overallTable thead{
        display: none;
    }
    
    .overallTable, .overallTable tbody, .overallTable tr, .overallTable td{
        display: block;
        width: 100%;
        font-size: 14px;
    }

    .overallTable td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
    }

    .overallTable td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: 1px solid var(--clr-blue950);
    }

    .overallTable tbody tr{
        margin-bottom: 1.5rem;
    }
}

hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh

.table-customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-customer table{
    width: 95%;
    font-size: 8.5px;
    margin: 0;
}

.table-customer thead tr td{
    background-color: #D4AF37;
    text-align: center;
    font-weight: 500;
    color: #063d45;
}

.table-data{
    color: #000;
}

.table-customer div{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color);
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 20px;
} 

.table-customer thead tr td{
    background-color: #D4AF37;
    color: #063d45;
    padding: 10px;
    font-size: 8px;
    border: 1px solid #063d45;
    font-weight: 600;
    text-transform: uppercase;
}

.table-customer tbody tr td{
    background-color: #063d45;
    color: #D4AF37;
    padding: 10px;
    border: 1px solid #063d45;
    text-transform: uppercase;
}


<section class="table-customer">
            <div>Customer Details</div>
                <table class="table overallTable">
                    <thead id="booklist">
                        <tr>
                            <td>Name</td>
                            <td>E-Mail</td>
                            <td>Phone Number</td>
                            <td>Country</td>
                        </tr>
                    </thead>
                    <tbody id="customerbooktable">
                    </tbody>
                </table>     
        </section>

        <section class="table-customer">
            <div>Reservation</div>
                <table class="table overallTable">
                    <thead id="booklist">
                        <tr>
                            <td>Name</td>
                            <td>Check-In</td>
                            <td>Check-Out</td>
                            <td>Adults</td>
                            <td>Children</td>
                            <td>Above 5 years</td>
                            <td>Single Room</td>
                            <td>Double Rooms</td>
                            <td>Triple Rooms</td>
                            <td>WI-FI</td>
                            <td>Pool View</td>
                            <td>Garden View</td>
                            <td>Extra Bed</td>
                            <td>Promo Code</td>
                            <td>Total Cost</td>
                        </tr>
                    </thead>
                    <tbody id="booktable">
                    </tbody>
                </table>     
        </section>

        <section class="table-customer">
            <div>Adventure Booking</div>
                <table class="table overallTable">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ADVENTURES</td>
                            <td>LOCAL ADULTS</td>
                            <td>LOCAL KIDS</td>
                            <td>FOREIGN ADULTS</td>
                            <td>FOREIGN KIDS</td>
                            <td>GUIDE FOR DIVING (Adults)</td>
                            <td>GUIDE FOR DIVING (Kids)</td>
                            <td>Total Cost</td>
                        </tr>
                    </thead>
                    <tbody id="advbooktable">
                    </tbody>
                
                </table>     
        </section>




//Booking Table
function addbook(){
    const name = ${fnameInput.value} ${lnameInput.value};
    const checkInDate = checkinInput.value;
    const checkOutDate = checkoutInput.value;
    const AdultsInput = noAdultsInput.value || 0;
    const ChildrenInput = noChildrenInput.value || 0;
    const KidsInput = kidsMealInput.value || 0;
    const singleinput = singleInput.value || 0;
    const doubleinput = doubleInput.value || 0;
    const triple = tripleInput.value || 0;
    const wifi = wifiCheck.checked ? 'Yes' : 'No';
    const pool = poolCheck.checked ? 'Yes' : 'No';
    const garden = gardenCheck.checked ? 'Yes' : 'No';
    const extrabed = extrabedCheck.checked ? 'Yes' : 'No';
    const promocode = promocodeInput.value ? 'Yes' : 'No';
    const totalcost = bookingdetails();

    const details = {
        name: name,
        checkInDate: checkInDate,
        checkOutDate: checkOutDate,
        adults: AdultsInput,
        children: ChildrenInput,
        kids: KidsInput,
        single: singleinput,
        double: doubleinput,
        triple: triple,
        wifi: wifi,
        pool: pool,
        garden: garden,
        extraBed: extrabed,
        promocode: promocode,
        totalCost: totalcost,
    };

    const labels = {
        name: 'Name',
        checkInDate: 'Check-in Date',
        checkOutDate: 'Check-Out Date',
        adults: 'No. of Adults',
        children: 'No. of Children',
        kids: 'Above 5 Years',
        single: 'Single Rooms',
        double: 'Double Rooms',
        triple: 'Triple Rooms',
        wifi: 'WiFi',
        pool: 'Pool View',
        garden: 'Garden View',
        extraBed: 'Extra Bed',
        promocode: 'Promo Code',
        totalCost: 'Total Cost',
    };

    const newRow = RoomTable.insertRow(-1);
    for (const detail in details) {
        const cell = newRow.insertCell();
        cell.textContent = details[detail];
        cell.setAttribute('data-label', labels[detail]);
    };
    
} 

//Adventure Booking Table
function advaddbook(){
    
    const name = ${fnameInput.value} ${lnameInput.value};
    const dropdown =  AdvDropDown.value;
    const localadults = localAdultsInput.value || 0;
    const localkids = localKidsInput.value || 0;
    const foreignadults = foreignAdultsInput.value || 0;
    const foreignkids = foreignKidsInput.value || 0;
    const DiveAdult = diveAdultscheck.checked ? 'Yes' : 'No';
    const DiveKids = diveKidscheck.checked ? 'Yes' : 'No';
    const totalcost = adventuredetails();
    
    const details = {
        name: name,
        dropdown: dropdown,
        localadults: localadults,
        localkids: localkids,
        foreignadults: foreignadults,
        foreignkids: foreignkids,
        DiveAdult: DiveAdult,
        DiveKids: DiveKids,
        totalcost: totalcost,
    };

    const labels = {
        name: 'Name',
        dropdown: 'Adventures',
        localadults: 'Local Adults',
        localkids: 'Local Kids',
        foreignadults: 'Foreign Adults',
        foreignkids: 'Foreign Kids',
        DiveAdult: 'Guide for Diving (Adults)',
        DiveKids: 'Guide for Diving (Kids)',
        totalcost: 'Total Cost',
    };

    const newRow = AdvBookTable.insertRow(-1);
    for (const detail in details) {
        const cell = newRow.insertCell();
        cell.textContent = details[detail];
        cell.setAttribute('data-label', labels[detail]);
    };

}