*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
.header{
    min-height: 85vh;
    width: 100%;
    background-image: url(images/home6.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  
}
nav img{
    width: 150px;
}
.nav-link{
    text-align: right;
    flex: 1;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #320707;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #752f0bdc;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #320707;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-box p{
    margin: 20px auto;
    font-weight: bold;
    line-height: 22px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-btn{
    width: 200px;
    padding: 8px 6px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #8d2511d1;
    background: #5a1717d4;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
}
.hero-btn:hover{
    border: 1px solid #320707;
    background: #320707;
    transition: 1s;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}
.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.About{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.About h1{
    font-size: 36px;
    font-weight: 600;
    color: #320707;
    
}
.About p{
    color: #4b170bcb;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.About-col{
    flex-basis: 31%;
    background: #cf9191;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 22px;
    color: #fff;
}
.About-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
}

.offers{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}
.offers h1{
    font-size: 32px;
    font-weight: 600;
    color: #320707;
}
.offers p{
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
}
.offers-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.offers-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(168, 121, 121, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    font-size: 28px;
    color: #320707;
}
.facilities p{
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: #320707;
    font-size: 16px;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/hotel3.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    font-weight: 500;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 100px 0 20px;
    background: #956161;
    line-height: 22px;
    position: relative;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 35px;
    color: #320707;
}
.footer p{
    font-weight: 600;
    font-size: 14px;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-left{
    text-align: left;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-img{
    width: 35%;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

/*----adventures pg----*/

.sub-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(176, 151, 151, 0.7), rgba(176, 151, 151, 0.7)), url(images/hotel32.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.sub-header h1{
    font-weight: 600;
    color: #320707;
    font-size: 44px;
    margin-top: 100px;
}
.sub-header p{
    font-size: 20px;
    color: #320707;
    font-weight: 600;
}
#exploremore{
    padding-bottom: 10px;
}
.title-text{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    padding-top: 70px;
}
.title-text p{
    margin: auto;
    font-size: 18px;
    color: #320707;
    font-weight: 500;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#320707,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-weight: bold;
    font-size: 22px;
    color: #320707;
}
.adventure-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.adventures{
    flex-basis: 50%;
    
}
.adventures h1{
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: #320707;
}
.adventures-img{
    flex-basis: 50%;
    margin: auto;
    padding-top: 20px;
    
}
.adventures-img img{
    width: 100%;
    border-radius: 10px;
}
.adventures-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.adventure-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #320707;
    border: 1px solid #320707;
}
.adventure-text p{
    padding: 0 20px;
    text-align: initial;
    font-size: 16px;
}
#exploremore{
    width: 100%;
    padding: 70px 0;
    background: #ac7d7d;
}
.exploremore-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.single-explore{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-explore img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(129,102,102,0.7), #320707);
    opacity: 0;
    transition: 1s;
}
.single-explore:hover .overlay{
    opacity: 1;
}
.explore-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.explore-desc p{
    font-size: 14px;
}
.single-explore:hover .explore-desc{
    bottom: 40%;
    opacity: 1;
}
#infrastructure{
    width: 100%;
    padding: 70px 0;
}
.infrastructure-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.infrastructures-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #320707;
    cursor: pointer;
    transition: transform .5s;
}
.infrastructures-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #320707;
    font-size: 20px;
}
.user-info small{
    color: #320707;
}
infrastructures-col:hover{
    transform: translateY(-7px);
}

/*--branches pg--*/

.sub-header-1{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(176, 151, 151, 0.7), rgba(176, 151, 151, 0.7)), url(images/hotel31.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.sub-header-1 h1{
    font-weight: 600;
    color: #320707;
    font-size: 38px;
    margin-top: 100px;
}
.sub-header-1 p{
    font-size: 20px;
    color: #320707;
    font-weight: 600;
}
.branches{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.branches-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.branches-col img{
    width: 100%;
}
.branches-col h1{
    padding-top: 0;
}
.branches-col p{
    padding: 15px 25px;
    font-size: 16px;
}
.branch-tab{
    width: 100%;
    min-height: 100vh;
    background: #320707;
}
.branch-tab h2{
    color: white;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}
.branch-tab ul{
    color: #fff;
}
.branch-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    grid-gap: 25px;
}
.brach-col{
    background: #8a4040aa;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.brach-col img{
    width: 100%;
    height: 30vh;
    position: relative;
    align-items: center;
    display: block;
}
iframe{
    width: 100%;
    height: 30vh;
    position: relative;
    align-items: center;
    display: block;
}

/*--restaurant pg--*/

.sub-header-2{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(176, 151, 151, 0.7), rgba(176, 151, 151, 0.7)), url(images/hotel33.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.sub-header-2 h1{
    font-weight: 600;
    color: #320707;
    font-size: 38px;
    margin-top: 100px;
}
.sub-header-2 p{
    font-size: 20px;
    color: #320707;
    font-weight: 600;
}
.restaurant{
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
}
.btn{
    display: flex;
    border-bottom: 1px solid #471515;
}
.btn button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}
.btn button:hover{
    color: #956161;
}
.restaurants{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.restaurants-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.restaurants-col img{
    width: 100%;
}
.restaurants-col h1{
    padding-top: 0;
    font-size: 20px;
}
.restaurants-col p{
    padding: 15px 25px;
    font-size: 16px;
}
.cuisines{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.cuisines h1{
    font-size: 28px;
    color: #320707;
}
.cuisines p{
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
}
.cuisines-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.cuisines-col img{
    width: 100%;
    border-radius: 10px;
}
.cuisines-col p{
    padding: 0;
}
.cuisines-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: #320707;
    font-size: 16px;
}
.hero-btn{
    width: 200px;
    padding: 8px 6px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #8d2511d1;
    background: #5a1717d4;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
}
.hero-btn:hover{
    border: 1px solid #320707;
    background: #320707;
    transition: 1s;
}
/*--booking pg--*/

.sub-header-4{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(176, 151, 151, 0.7), rgba(176, 151, 151, 0.7)), url(images/hotel34.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.sub-header-4 h1{
    font-weight: 600;
    color: #320707;
    font-size: 38px;
    margin-top: 100px;
}
.sub-header-4 p{
    font-size: 20px;
    color: #320707;
    font-weight: 600;
}
.main-bg{
    background-image: url(images/booking.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form{
   background-color: #fff;
    width: 700px;
    
}
.form-text{
    text-align: center;
    margin: 40px 0;
    color: #320707;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.form-text p{
    font-size: 20px;
}

.main-form div{
    margin: 10px 20px;
    display: inline-block;
    width: 300px;
}
.main-form div input{
    width: 100%;
    background: none;
    border: 1px solid #471515;
    font-size: 13px;
    color: #401313;
    outline: none;
    padding: 3px 0 3px 10px;
    margin: 10px;
}
.main-form div select{
    width: 100%;
    background: none;
    border: 1px solid #471515;
    font-size: 13px;
    color: #5c2020;
    padding: 3px 0 3px 10px;
    margin: 10px;
}
.main-form div span{
    width: 100%;
    color: #5c2020;
    font-size: 17px;
}
#submit{
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 19px;
}
#submit input{
    width: 200px;
    background-color: #9f8181;
    transition: all 0.3s;
}
#submit input:hover{
    width: 200px;
    background-color: #ad3e3e;
    color: #320707;
}
#submit input:active{
    width: 200px;
    background-color: #6e2a2a;
    color: #320707;
}



@media (max-device-width: 700px) {
    .text-box h1{
        font-size: 70px;
    }
    .text-box p{
        font-size: 30px;
    }
    .hero-btn{
        width: 250px;
        padding: 15px 12px;
        font-size: 17px;
    }
    .nav-link ul{
        padding: 30px;
        margin: 10%;
    }
    .row{
        flex-direction: column;
    }
    .About h1{
        font-size: 35px;
    }
    .About p{
        font-size: 18px;
    }
    .About-col p{
        font-size: 14px;
    }
    .offers h1{
        font-size: 35px;
    }
    .offers p{
        font-size: 18px;
        line-height: 20px;
    }
    .facilities h1{
        font-size: 35px;
    }
    .facilities p{
        font-size: 18px;
        line-height: 20px;
    }
    .facilities-col p{
        font-size: 18px;
    }
    .infrastructure h1{
        font-size: 35px;
    }
    .infrastructure p{
        font-size: 18px;
        line-height: 20px;
    }
    .infrastructure-col p{
        font-size: 18px;
    }
    .infrastructure-col img{
        margin-left: 0;
        margin-right: 15px;
    }
    .footer h4{
        font-size: 20px;
    }
    .footer p{
        font-size: 12px;
    }
    .sub-header h1{
        font-size: 50px;
        padding-top: 70px;
    }
    .title-text h1{
        font-size: 35px;
    }
    .adventures{
        flex-basis: 100%;
    }
    .adventures h1{
        font-size: 30px
    }
    .adventures-img{
        flex-basis: 100%;
    }
    .adventures-img img{
        width: 100%;
    }
    .adventure-text p{
        font-size: 12.5px;
    }
    .single-explore{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .explore-desc{
        font-size: 12px;
    }
    hr{
        margin: 5ps auto;
    }
    .single-explore:hover .explore-desc{
        bottom: 25%;  
    }
    .infrastructures-col{
        flex-basis: 100%;
    }
    .footer-right{
        flex-basis: 100%;
        font-size: 18px;
    }
    .footerleft{
        flex-basis: 100%;
        font-size: 18px;
    }
    .footer-img{
        top: 25%;
    }
    .footer h4{
        font-size: 20px;
    }
    .footer p{
        font-size: 8px;
    }
    .footer-left p{
        font-size: 12px;
    }
    .footer-right p{
        font-size: 12px;
    }
    .main-form{
        text-align: center;
    }
}